<!doctype html>
<html>

<head>
    <title>{{sitename}}</title>
</head>

<body>
    <h1>{{sitename}}</h1>

    {% if not logged_in %}
    <a href="/login">Log in</a>
    {% endif %}

    <h2>{{page}}</h2>
    {% include 'nav.html' %}

    <p>Coming soon to a browser near you...</p>

    <ul>
        {% for item in navigation %}
          <li>
            <a href="{{ item.href }}">{{ item.caption }}</a>
          </li>
        {% endfor %}
    </ul>

    {% include 'copyright.html' %}
</body>

</html>