<html>
  <head>
    {% if title %}
      <title>{{ title }} - Order Up!</title>
    {% else %}
      <title>Welcome to Order Up!</title>
    {% endif %}
    <link rel="stylesheet" href="/base.css"
  </head>
  <body>
    {% if not current_user.is_anonymous %}
    <form method="POST" action="{{ url_for('session.logout') }}">
        <input type="submit" value="Logout">
    </form>
    {% endif %}
    </form>
    {% block content %}{% endblock %}

    {% if not current_user.is_anonymous %}
    {% include 'items.html' %}
    {% endif %}
  </body>
</html>