{% extends 'base.html' %}

{% block content %}
<h1>Order up!</h1>
<ul>

    <table>
        <tr>
            <th>Table</th>
            <th>Order</th>
            <th>Total</th>
            <th>Finished</th>
            <th>Close Order</th>
            <th>Add to Order</th>
            
        </tr>
        {% for order in orders %}
        <tr>
            <td>#{{order.number}}</td>
            <td>#{{order.order_id}}</td>
            <td>{{order.total|round(2)}}</td>
            <td>{{order.finished}}</td>
            <td>
                {% if not order.finished %}

                <form method="POST" action="{{ url_for('orders.close_table', id=order.order_id)}}">
                    <input type="submit" value="Close Order">
                </form>

                {% else %}

                <form method="POST" action="{{ url_for('orders.open_table', id=order.order_id)}}">
                    <input type="submit" value="Open Order">
                </form>

                {% endif %}
            </td>
            <td>
                <button form="food-list" formaction="/orders/{{order.order_id}}/items">
                    Add to order
                </button>
            </td>
        </tr>
        {% endfor %}
    </table>

</ul>
{% endblock %}